<br /><br /><br /><br />
<section id="services" class="services section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Services</h2>
      <p>
        Our application software developers are industry-specific technology
        experts with many years of combined experience delivering
        interoperable,scalable, and flexible web & mobile applications for all
        kinds of industries.
      </p>
    </div>

    <div class="row">
      <div
        class="col-xl-3 col-md-6 d-flex align-items-stretch"
        data-aos="zoom-in"
        data-aos-delay="100"
      >
        <div class="icon-box">
          <div class="icon"><i class="bx bxl-dribbble"></i></div>
          <h4>
            <a
              href="https://developer.android.com/jetpack?gclid=CjwKCAiA24SPBhB0EiwAjBgkhjqd7Dq5ymgBo1ANbrJW9CLMFsHI2d-nLkO250KgfDa9cQzVfAqVuRoCct4QAvD_BwE&gclsrc=aw.ds"
              >Android App Development Platform</a
            >
          </h4>
          <p>
            We develop web & mobile apps delivered across Android devices using
            top Android app development tools, such as Android Studio, Eclipse,
            and IntelliJ IDEA.
          </p>
        </div>
      </div>

      <div
        class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0"
        data-aos="zoom-in"
        data-aos-delay="200"
      >
        <div class="icon-box">
          <div class="icon"><i class="bx bx-file"></i></div>
          <h4>
            <a href="https://www.apple.com/ios/ios-15/"
              >iOS App Development Platform</a
            >
          </h4>
          <p>
            We build web & mobile apps delivered across iOS devices using XCode,
            AppCode, CodeRunner, RxSwift, Mockingbird, CocoaPods, Applyzer,
            Alcatraz, Marvel, and more.
          </p>
        </div>
      </div>

      <div
        class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0"
        data-aos="zoom-in"
        data-aos-delay="300"
      >
        <div class="icon-box">
          <div class="icon"><i class="bx bx-tachometer"></i></div>
          <h4>
            <a href="https://www.microsoft.com/en-us/windows?r=1"
              >Windows App Development Platform</a
            >
          </h4>
          <p>
            We offer windows app development services that include creating
            highly immersive experiences using .NET frameworks accompanied with
            Microsoft Visual Studio.
          </p>
        </div>
      </div>

      <div
        class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0"
        data-aos="zoom-in"
        data-aos-delay="400"
      >
        <div class="icon-box">
          <div class="icon"><i class="bx bx-layer"></i></div>
          <h4><a href="">Cloud Application Development</a></h4>
          <p>
            We conceptualize, design, and develop innovative Cloud Applications
            that deliver exceptional agility, performance, and interoperability
            while offering legacy app modernization, IoT solutions, cloud-native
            architectures, microservices application architecture, cloud-ready
            app migration, and more.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
