<br /><br /><br /><br /><br /><br />
<section id="team" class="team section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2 id="teamm">Team</h2>
      <h1 id="excl" [style.color]="color ? '#37517e' : 'white'">
        Our Exclusive Network of Freelance Programmers
      </h1>
      <br />
    </div>

    <div class="row" *ngFor="let t of teams">
      <div [class.special]="t.class">
        <div
          class="member d-flex align-items-start"
          data-aos="zoom-in"
          data-aos-delay="100"
        >
          <div class="pic">
            <img src="{{ t.img }}" class="img-fluid" alt="" />
          </div>
          <div class="member-info">
            <h4>{{ t.username }}</h4>
            <span>{{ t.last }}</span>
            <p>{{ t.social }}</p>
            <div class="social">
              <a href=""><i class="ri-twitter-fill"></i></a>
              <a href=""><i class="ri-facebook-fill"></i></a>
              <a href=""><i class="ri-instagram-fill"></i></a>
              <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
